<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <!-- Dashboard Tab -->
    <ion-tab title="Switches" icon-off="ion-toggle" icon-on="ion-toggle-filled" href="#/tab/switches">
        <ion-nav-view name="tab-switches"></ion-nav-view>
    </ion-tab>

    <!-- Dashboard Tab -->
    <ion-tab title="Sensors" icon-off="ion-thermometer" icon-on="ion-thermometer" href="#/tab/sensors">
        <ion-nav-view name="tab-sensors"></ion-nav-view>
    </ion-tab>

    <!-- Settings Tab -->
    <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>


</ion-tabs>
